.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 30px;
}
a {
  color: black;
}
h1,
h2,
h4 {
  font-family: "EB Garamond", serif;
  font-weight: 600;
}
h1 {
  font-size: 75px;
}
h3,
p,
em,
.btn {
  font-family: "Open Sans", sans-serif;
}
h3 {
  text-transform: uppercase;
  font-size: 20px;
}
i {
  color: black;
  font-size: 40px;
  margin: 30px;
}
.App-header h3 {
  color: rgba(0, 0, 0, 75%);
  margin: 10px;
}
.product-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.product-categories img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 3/2;
}

.product {
  position: relative;
}
.product .img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 80%);
  width: 65%;
  padding: 15px 0px;
}
.product h3 {
  height: 35px;
  font-size: 20px;
  height: 20px;
  margin: 0;
}
footer {
  padding: 30px;
}
footer h4 {
  font-size: 35px;
}
footer p {
  font-size: 20px;
  margin: 0;
}
footer div {
  margin-bottom: 10px;
}

@media (max-width: 960px) {
  .product-categories {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .product .img-overlay {
    width: 80%;
  }
  .product h3 {
    font-size: 15px;
    height: 15px;
  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 15px;
  }
  footer h4 {
    font-size: 28px;
  }
  footer p {
    font-size: 14px;
  }
  .btn {
    max-width: 80vw;
  }
}
